# mcsForm

root = true

[*.cs]
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
dotnet_diagnostic.CA1822.severity = none  # Member '' does not access instance data and can be marked as static
dotnet_diagnostic.CS0162.severity = none  # Unreachable code detected
dotnet_diagnostic.IDE0051.severity = none  # Private member '' is unused.
dotnet_diagnostic.IDE0060.severity = none  # Remove unused parameter '' if it is not part of a shipped public API
dotnet_diagnostic.IDE1006.severity = none  # Naming rule violation: These words must begin with upper case characters: 
